@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Poppins', 'sans-serif';
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.top-header {
  background-color: #a97e40;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
}

.header-top{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

.header-txt{
    margin: 5px;
}


.header-top:hover{
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
}

.rotate-svg{
    width: 30px;
}


@keyframes infinite-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-infinite {
    animation: infinite-rotation 10s linear infinite;
}


.sub-container{
    width: inherit;
    height: inherit;
}

/* Display following navbar on Scroll */

.navbar1{
    display: none;
    /* display: flex; */
    justify-content: space-between;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding: 10px 30px;
}

.navbar2{
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.hamburger{
    display: none;
}

.my-4{
    margin: 10px 0;
}

.nav-menu{
    display: flex;
}

.nav-menu a:nth-child(even){
    margin-left: 30px;
}

.nav-menu a:nth-child(odd){
    margin-left: 30px;
}

.nav-menu a{
    color: white;
}

.Cordyceps-logo{
    width: 70px;
}

.background-image-home {
    background-image: url('./images/background-home.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh; /* Adjust height as needed */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10; /* Ensures it remains below content */
    opacity: 0.5;
    pointer-events: none; 
}

.hero-section{
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
}

.hero-section .heading{
    font-size: 28px;
    color: white;
    line-height: 4rem;
}

.hero-section .sub-heading{
    font-size: 20px;
    margin: 10px 0;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons div{
    background-color: #a97e40;
    margin: 20px;
    font-size: 17px;
    padding: 15px 30px;
    opacity: 0.8;
    border-radius: 5px;
}

.buttons div:hover{
    cursor: pointer;
    opacity: 1;
}

.text-white{
    color: white;
}


.mobile-nav-bar{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #161616;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}

.display-mobile-nav{
    transform: translateX(0);
}

.hide-mobile-nav{
    transform: translateX(-100%);
}

.mobile-menu-list{
    margin: 5rem 2rem;
}

.mobile-menu-list a{
    color: white;
    font-size: 20px;
}

.mobile-menu-list li a:hover{
    color:#a97e40;
}

.mobile-menu-list li:last-child{
    border-bottom: none;
}

.mobile-menu-list li{
    border-bottom:1px solid rgb(68, 68, 68);
    margin: 1rem 0;
    padding: 10px;
}

.close-nav-container{
    position: relative;
}

#close-mobile-nav{
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 40px;
    margin: 20px;
}

#close-mobile-nav:hover{
    color:#a97e40;
}

/* body content */

.bg-custom-black{
    margin: 0; 
    background-color: #161616;
    position: relative;
    min-height: 100vh;
    z-index: 1; 
    overflow: hidden;
    padding: 8rem 0;
}

.section-one{
    width: 80%;
    margin: auto;
}

.section-one div:first-child{
    text-align: center;
    color:#a97e40;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.section-one .border-bottom{
    width: 50px;
    margin: auto;
    border-bottom: 1px solid rgb(66, 66, 66);
}

.section1-subcontainer{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.Img-section1{
    width: inherit;
    margin: auto;
}

.Img-section1 img{
    width: 500px;
    border-radius: 50%;
}

.section1-subcontainer .content{
    margin: 0 3rem;
    width: inherit;
}

.section1-subcontainer .content .section1-heading,.section1-subcontainer2 .content .section1-heading{
    font-size: 20px;
}

.section1-subcontainer .content .section1-description{
    color: rgb(152, 152, 152);
    margin: 20px 0;
    font-size: 15px;
}

.section1-subcontainer .Order-link{
    display: inline-block;
    color: white;
    background-color: #a97e40; 
    width: 120px;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    opacity: 0.9;
    text-transform: uppercase;
}

.section1-subcontainer2 .chat-with-us{
    margin-top: 1rem;
    display: inline-block;
    color: white;
    background-color: #a97e40; 
    width: 120px;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    opacity: 0.9;
    text-transform: uppercase;
}

.section1-subcontainer .Order-link:hover, .chat-with-us:hover{
    opacity: 1;
    cursor: pointer; 
}

.section1-subcontainer2{
    display: flex;
}

.section1-subcontainer2 .Img-section1{
    order: 2;
}

.section1-subcontainer2 .content .text-custom-gray{
    color: rgb(152, 152, 152);
}

.section1-subcontainer2 .content .section1-description{
    margin: 1rem 0;
}

.text-italic{
    font-style: italic;
}

.mt-4{
    margin-top: 10px;
}

@media screen and (max-width: 768px){
    .hero-section .heading{
        font-size: 20px;
        font-weight: bold;
        color: white;
        line-height: 2.5rem;
    }
    .hero-section{
        width: 80%;
    }
    .background-image-home{
        height: 100vh;
        opacity: 0.5;
        overflow: hidden;
    }
    .hamburger{
        margin-top: 10px;
        display: block;
        cursor: pointer;
    }
    .nav-menu{
        display: none;
    }
    .buttons{
        display: block;
        justify-content: center;
    }
    .Cordyceps-logo{
        width: 60px;
    }
    .hamburger .material-symbols-outlined:hover{
        color:#a97e40;
    }
    .section-one{
        width: 90%;
    }
    .section1-subcontainer{
        display: block;
    }
    .section1-subcontainer .content{
        margin: 0;
    }
    .section1-subcontainer2{
        display: block;
    }
}


@media screen and (min-width: 800px){
    .nav-menu{
        display: flex;
    }
}